body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}



.table {
    background-color: rgb(255, 255, 255, 0.8);
}



.site-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background: #4a4d6d;
}

.side-menu-trigger {
    border: 0;
    border-radius: 5px;
    background: #ffffff;
    height: 45px;
    width: 45px;
}

.side-menu {
    z-index: 1000;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 200px;
    top: 50px;
    left: -200px;
    padding: 0;
    background: #4a4d6d;
    transition: 0.3s transform ease-in-out;
}

    .side-menu ul {
        position: absolute;
        display: flex;
        height: calc(100% - 20px);
        flex-wrap: wrap;
        margin: 0 10px;
        padding: 0;
        list-style-type: none;
        align-content: flex-start
    }

        .side-menu ul li {
            display: flex;
            height: 30px;
            background: #ffffff;
            flex-basis: 100%;
            margin-top: 20px;
            color: #696e9e;
            overflow: hidden;
        }

            .side-menu ul li a {
                display: flex;
                padding: 10px;
                align-items: center;
                width: 100%;
                height: 100%;
                background: #ffffff;
                text-decoration: none;
                box-sizing: border-box;
            }




    .side-menu-trigger:focus ~ .side-menu, .side-menu:hover {
        transform: translateX(200px);
    }


.container2 {
    align-items: center;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 33px;
    height: 5px;
    background-color: #333;
    margin: 7px 0px;
}








li2 {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    background: #34b399;
}

li3 {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    background: #34b399;
}





/* style dla elementu ol będącego pierwszym potomkiem li będącego pierwszym potomkiem ul znajdującego się w nav */
nav ul > li > ol {
    z-index: 1000; /* określa kolejność wyświetlania elementów (im wyższa liczba tym bardziej na wierzchu będzie dany element, a ponieważ menu powinno raczej na wierzchu się wyświetlać, więc dana została duża wartość by ten warunek został spełniony */
    list-style-type: none; /* wyłączenie wyświetlania numeracji */
    padding: 0; /* wyzerowanie odsunięcia */
    margin: 0px; /* wyzerowanie marginesów */
    display: none; /* wyłączenie wyświetlania elementu */
    position: absolute;
    left: 180px; /* oderwanie elementu od reszty strony, by jego pojawienie nie wpływało na układ strony */
    text-align: left; /* wyrównanie tekstu do lewej */
    width: 200px;
    border: double;
}

/* style dla elementu ol będącego pierwszym potomkiem li będącego pierwszym potomkiem ul znajdującego się w nav */
nav ul > li > ol > li2 > ol {
    z-index: 1000; /* określa kolejność wyświetlania elementów (im wyższa liczba tym bardziej na wierzchu będzie dany element, a ponieważ menu powinno raczej na wierzchu się wyświetlać, więc dana została duża wartość by ten warunek został spełniony */
    list-style-type: none; /* wyłączenie wyświetlania numeracji */
    padding: 0; /* wyzerowanie odsunięcia */
    margin: 0px; /* wyzerowanie marginesów */
    display: none; /* wyłączenie wyświetlania elementu */
    position: absolute;
    left: 180px; /* oderwanie elementu od reszty strony, by jego pojawienie nie wpływało na układ strony */
    text-align: left; /* wyrównanie tekstu do lewej */
    width: 200px;
    border: double;
}


/* styl dla elementu ol będącego potomkiem li będącego potomkiem ul znajdującego się w nav, gdzie styl jest stosowany gdy kursor myszy znajdzie się nad elementem li */
nav ul > li:hover > ol {
    display: inline-block; /* wyświetl jako obiekt blokowy liniowy */
    background: #34b399; /* kolor tła */
}

nav ul > li > ol > li2:hover > ol {
    display: inline-block; /* wyświetl jako obiekt blokowy liniowy */
    background: #34b399; /* kolor tła */
}


/* style dla li będącego pierwszym potomkiem ol będącego pierwszym potomkiem li, będącego pierwszym potomkiem ul znajdującego się w nav */
nav ul > li > ol > li {
    border-bottom: 1px solid #77979f; /* ramka u dołu: szerokość, styl linii (ciągły), kolor */
}
/* style dla znacznika linku a będącego potomikem li będącego pierwszym potomkiem ol będącego pierwszym potomkiem li, będącego pierwszym potomkiem ul znajdującego się w menu */
menu ul > li > ol > li a {
    padding: 10px; /* odsunięcie na 10px */
    text-decoration: none; /* wyłączenie dekoracji tekstu */
    color: #77979f; /* kolor tekstu */
    display: block; /* wyświetlaj jako element blokowy */
}
/* style dla li gdy kursor znajdzie się nad nim, który jest pierwszym potomkiem ol, będący pierwszym potomkiem li, będący pierwszym potomkiem ul znajdującym się w nav */
nav ul > li > ol > li:hover {
    background: #34b399; /* kolor tła */
}


.centerDiv {
    width: 300px;
    height: 200px;
    position: fixed;
    background-color: lightgray;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    filter: opacity(50%);
}


.centerDiv {
    width: 300px;
    height: 200px;
    position: fixed;
    background-color: lightgray;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    filter: opacity(50%);
}

.centerDiv2 {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 40px; /* Height of the footer */
}


.table-condensed tr th {
    border: 0px solid #6e7bd9;


}

.table-condensed, .table-condensed tr td {
    border: 0px solid #000;
}

tr:nth-child(even) {

}

tr:nth-child(odd) {

}


.hiddencol {
    display: none;
}


.naglowektab {
    background-color: #333;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 45px;
    cursor: pointer;
    color: white;
}


.button_2 {
    background-color: #333;
    border: none;
    color: transparent;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition-duration: 1.5s;
}



    .button_2:hover {
        color: black;
        background-color: #ccc;
        width: 165px;
    }



.naglowektab {
    background-color: #333;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 45px;
    cursor: pointer;
    color: white;
}
























.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #003399;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }


.table {
    background-color: rgb(255, 255, 255, 0.8);
}